* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.logo-mario {
    height: 200px;
}

button {
    color: white;
    background-color: #c51111;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 50px;
    width: 200px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
}

button:hover {
    background-color: rgb(121, 1, 1);
    transition: .5s;
}

.img-mario-luigi {
    height: 500px;
}

body {
    height: 100vh;

}

.caixa-mae {
    display: flex;
    height: 100vh;
    padding: 100px;
    align-items: center;
    justify-content: space-around;
}

.caixa-principal {
    width: 40%;

}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    width: 100vw;
}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

p {
    color: white;
    font-size: 15px;
}

.link-wpp img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;

}

.header {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 30px;

}

.header img {
    height: 60px;
}

.header a {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.header a:hover {
    color: #c51111;
    font-size: 26px;
    transition: .5s;
}